body{
    background: #333;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.wrap{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    transition: 0.4s;
    padding: 100px;
    border-radius: 20px;
    &:hover{
        transition: 0.5s;
        box-shadow: 4px 10px 25px rgba(0, 0, 0, 0.543);

    }
    h1{
        text-align: center;
        color: #fff;
        font-weight: 800;
        font-size: 50px;
        display: flex;
        flex-direction: column;
    }
    p{
        color: #fff;
        text-align: center;
    }
}

.input{
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px auto;
    h2{
        color: white;
        text-align: center;
    }
    input{
        border: none;
        // margin-top: 10px;
        text-align: center;
    }
}

.result{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    text-align: center;

    h4{
        font-size: 20px;
        color: rgb(233, 43, 43);
    }
}

@media only screen and(max-width:375px){
    .main{
        box-shadow: 0 0 0 ;
        h1{
            font-size: 35px;
        }
        p{
            font-size: 10px;
        }
    }

    .input{
        grid-template-columns: 1fr ;
        grid-gap: 10px; 
    }

    .result{
         grid-template-columns: 1fr  ;
        h4{
            font-size: 15px;
            color: rgb(233, 43, 43);
        }
    }

}